@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: normal;
    src: url("./BYekan.ttf");
  }

* {
    font-family: yekan !important;
}

body {
    background-color: white;
    padding: 0px 16px 32px 16px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: stretch;
    
}

header {
    width: 100%;
    border-top: 6px solid #434343;
    padding: 32px;
    box-sizing: border-box;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

header > h1 {
    color: #434343;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin: 0;
}


header > h2 {
    color: #434343;
    font-size: medium;
    text-align: center;
    align-self: center;
    opacity: .75;
    margin: 0;
}

body > h1 {
    width: 100%;
    margin: 16px 0 0 0;
    padding: 8px 16px 4px 0px;
    box-sizing: border-box;
    font-size: medium;
    font-weight: 600;
    color: #888;
    border-bottom: 1px dashed #ccc;
    text-align: center;
    direction: rtl;
}

body > h2 {
    width: 100%;
    max-width: 800px;
    align-self: center;
    margin: 0;
    padding: 0 0 16px 0;
    box-sizing: border-box;
    font-size: medium;
    font-weight: 200;
    color: #444;
    text-align: justify;
    direction: rtl;
    font-size: 14px;
}

section {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-self: center;
    justify-self: center;
    list-style: none;
    direction: rtl;
    box-sizing: border-box;
    justify-content: space-between;
}

section > button {
    flex: 1 1;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    min-width: 240px;
    max-height: 240px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

section > button > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section > button > label{
    position: absolute;
    height: auto;
    bottom: 6%;
    width: 90%;
    left: 5%;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border-radius: 12px;
    padding: 6px;
    box-sizing: border-box;
    font-size: medium;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
    transition-duration: 0.15s;
    backdrop-filter: blur(8px);
    align-items: center;
}

section > button:hover > label{
    bottom: 8%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .75);

}

ul {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-self: center;
    justify-self: center;
    list-style: none;
    direction: rtl;
    box-sizing: border-box;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

ul > li{
    width: 100%;
    --accent: #434343;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    min-width: 240px;
    height: auto;
    overflow: hidden;
    display: flex;
    gap: 0;
    flex-direction: row;
    align-items: stretch;
    opacity: 0.75;
    user-select: none;
    transition-duration: .1s;
}

ul > li:hover{
    opacity: 1;
}

ul > li > label{
    width: auto;
    padding: 4px 16px;
    box-sizing: border-box;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-left: none;
    border-radius: 0 6px 6px 0;
    color: white;
    font-size: small;
    user-select: none;
    display: flex;
    align-items: center;
    min-width: 100px;
    text-align: center;
}

ul > li > desc{
    width: auto;
    flex: 1 1;
    padding: 4px;
    box-sizing: border-box;
    background-color: #434343;
    border: 1px solid var(--accent);
    background-color: transparent;
    border-radius: 0;
    border-left: none;
    border-right: none;
    display: flex;
    gap: 2px;
    align-items: center;
    display: flex;
    align-items: stretch;
    user-select: none;
}

ul > li > desc > b{
    background-color: var(--accent);
    color: white;
    padding: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

ul > li > a {
    min-width: 96px;
    background-color: var(--accent);
    color: white;
    border: 1px solid var(--accent);
    border-right: none;
    border-radius: 6px 0 0 6px;
    padding: 4px 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition-duration: .1s;
}

ul > li > a:hover {
    padding: 4px 40px;
    text-decoration: underline;
}